{% extends "index.html" %}

{% block li %}
    <li><a href="/week_2">Неделя 2</a></li>
    <li><a href="/week_3">Неделя 3</a></li>
    <li><a href="/week_4">Неделя 4</a></li>
    <li><a href="/week_5">Неделя 5</a></li>
    <li><a href="/week_61">Неделя 6-1</a></li>
    <li><a href="/week_62">Неделя 6-2</a></li>
    <li><a href="/week_7">Неделя 7 (Python)</a></li>
    <li><a href="/week_81">Неделя 8-1</a></li>
    <li><a href="/week_82">Неделя 8-2 (Python)</a></li>
    <li><a href="/week_9">Неделя 9</a></li>
    <li><a href="/week_10">Неделя 10 (Python)</a></li>
    <li><a href="/week_11">Неделя 11</a></li>
    <li class="active"><a href="/week_12">Неделя 12 (Python)</a></li>

{% endblock %}

{% block content %}
    <h2>Неделя 12</h2>
    <h3>Coming soon...</h3>
    <img src="https://www.stihi.ru/pics/2019/06/01/2829.jpg">
{% endblock %}
