{% extends "index.html" %}

{% block li %}
    <li><a href="/week_2">Неделя 2</a></li>
    <li><a href="/week_3">Неделя 3</a></li>
    <li><a href="/week_4">Неделя 4</a></li>
    <li><a href="/week_5">Неделя 5</a></li>
    <li><a href="/week_61">Неделя 6-1</a></li>
    <li class="active"><a href="/week_62">Неделя 6-2</a></li>
    <li><a href="/week_7">Неделя 7 (Python)</a></li>
    <li><a href="/week_81">Неделя 8-1</a></li>
    <li><a href="/week_82">Неделя 8-2 (Python)</a></li>
    <li><a href="/week_9">Неделя 9</a></li>
    <li><a href="/week_10">Неделя 10 (Python)</a></li>
    <li><a href="/week_11">Неделя 11</a></li>
    <li><a href="/week_12">Неделя 12 (Python)</a></li>
{% endblock %}

{% block content %}
    <h2>Неделя 6-2</h2>

    <br>
    <ul>
        <form enctype="multipart/form-data" method="post" action="/week_62">
            {% csrf_token %}
            <li><h3>Введите 10 значений X из таблицы</h3></li>
            <input type="text" name="x_0" value="1,2,3,4,5..">
            <em><font color="#8b0000"> Без лишних пробельных символов.</font> </em>
            <li><h3>Введите 10 значений Y из таблицы</h3></li>
            <input type="text" name="y_0" value="1,2,3,4,5..">
            <em><font color="#8b0000"> Без лишних пробельных символов.</font> </em>
            <li><h3>Введите 10 значения Class из таблицы</h3></li>
            <input type="text" name="cl" value="1,0,1...">
            <em><font color="#8b0000"> Без лишних пробельных символов.</font> </em>
            <li><h3>Введите 2 значения координат</h3></li>
            <input type="text" name="obj" value="25,54">
            <em><font color="#8b0000"> Без лишних пробельных символов.</font> </em>

            <br>
            <br>
            <input type="submit" value="Отправить"></p>
        </form>
    </ul>

    {% if t621 %}
        <hr>

        <h2>1-Расстояние от нового объекта с координатами до ближайшего соседа, используя евклидову метрику:
            <b> {{ t621 }}</b></h2>
        <h2>2-Идентификатры трех ближайших точек к для евклидовой метрики. : <b> {{ t622 }}</b></h2>
        <h2>3-Класс для нового объекта: <b> {{ t623 }}</b></h2>
        <h2>4-Расстояние от нового объекта с координатами до ближайшего соседа, используя метрику городских
            кварталов (Манхеттенское расстояние).: <b> {{ t624 }}</b></h2>
        <h2>5-Идентификатры трех ближайших точек к для метрики городских кварталов. : <b> {{ t625 }}</b></h2>
        <h2>6-Класс для нового объекта 2: <b> {{ t626 }}</b></h2>
    {% endif %}
{% endblock %}
